@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* activityChart.module.css */
.activityList li:nth-child(1)::marker {
    color: #282D30;
    /* couleur de la puce pour le premier élément */
    font-size: 25px;
}

.activityList li:nth-child(2)::marker {
    color: #E60000;
    /* couleur de la puce pour le deuxième élément */
    font-size: 25px;
}
