@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

#sidebar__icon {
    color: #ff0101;
}

#sidebar__text {
    writing-mode: vertical-lr;
    text-align: center;
}

.activityList {
    display: flex;
    gap: 60px;
}

/* activityChart.module.css */
.activityList li {
    list-style: disc;
    /* ou circle, square */
    margin-bottom: 8px;
    color: #000;
    /* couleur du texte */
}

.activityList li:nth-child(1)::marker {
    color: #282D30;
    /* couleur de la puce pour le premier élément */
    font-size: 25px;
}

.activityList li:nth-child(2)::marker {
    color: #E60000;
    /* couleur de la puce pour le deuxième élément */
    font-size: 25px;
}

.customTooltip {
    background-color: #e60000;
    /* rouge */
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}